@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');

.overlay {
    background: white; /* centers the child vertically */
    height: 100vh; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.overlay home{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    justify-content: center; 
  }
  
.overlay h2{
    margin-top: 0.5em;
  }

.overlay h1{
    color: black;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0px;
    align-content: center;
    margin-bottom: 0;
    /* text-shadow: 2px 2px 5px black; */

}


.overlay button{
    background: linear-gradient(to right, #007788, #159897, #21ADA8, #99eebb);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.overlay button:hover{
    background: rgb(26, 25, 25);
  }
  
  