@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

*{
  font-family: 'Readex Pro', sans-serif;
}

.primary-title {
  font-size: 90px;
  color: #fff;
}

.primary-button {
  color: #fff;
  font-size: 20px;
  background: linear-gradient(to right, #007788, #159897, #21ADA8, #99eebb);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: black;
}

.secondary-button {
  color: #FFFF;
  background: linear-gradient(to right, #007788, #159897, #21ADA8, #99eebb);
  font-weight: 500;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  margin: 6px;
}

.secondary-button:hover{
  background: black;
}

/*------- Navigation Bar -------*/

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: linear-gradient(to right, #007788, #159897, #21ADA8, #99eebb);
  background-color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

nav .nav-button:disabled {
  background: linear-gradient(to right, #00333b, #0b4f4f, #15706d, #6dac86);
  color:rgb(157, 152, 152);
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo{
  width: 100%;
}

/*------- Home Page -------*/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.home{
  margin-top: 20vh;
}

/*------- Auth Modal -------*/
.auth-modal {
  position:absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal h2 {
  color: #36444d;
}

.auth-modal input[type=password],
.auth-modal input[type=email],
.auth-modal input[type=total]
{
  padding: 8px;
  margin: 8px;
  font-size: 20px;
  color: #36444d;
}

/*------- OnBoarding Page -------*/

.onboarding {
  border-top: solid 1px black;
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px #007788;
  border-radius: 10px;
}

.onboarding form label{
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form .multiple-input-container input{
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px #007788;
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="number"] {
  width: 10%;
}

.onboarding form input[type="checkbox"] {
  width: 10%;
}

.onboarding form input[type="radio"]:checked + label {
  background-color: #c6e4e1; 
}

.onboarding form input[type="submit"] {
  background: linear-gradient(to right, #007788, #159897, #21ADA8, #99eebb);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}

.onboarding form input[type="submit"]:hover {
  background: black;
}

.onboarding form .photo-container img{
  width: 100%;
}

/*-------- Dashboard  --------*/
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 600px;
}

.card {
  width: 400px;
  height: 550px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 24px
}

.dashboard .swipe-info {
  position: absolute;
  color: white;
  bottom: 0;
  -webkit-text-stroke: 1px black;
  font-size: 20px;
  padding: 10px;
}

/*-------- ChatContainer  --------*/

.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}

.chat-container .chat-container-header {
  background: linear-gradient(45deg, #159897, #21ADA8);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: #fff;
  border-bottom: solid 4px #78cebd;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: solid 4px #989996;
}

.chat-container .profile,
.chat-container .log-out-icon{
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 50vh;
    overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}





.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.2em;
}

.leaderboard_table {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  table {
    font-size: 0.8em;
  }

  td:first-child {
    font-size: 25px;
  }

  td:nth-child(2) {
    padding-left: 10px;
  }

  td:nth-child(3) {
    font-size: 20px;
  }
}

thead th {
  background-color: #159897;
  color: #fff;
  padding: 10px;
  font-size: 1.2em;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

tbody td {
  padding: 10px;
}

td:first-child {
  font-weight: bold;
}

td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}

td:nth-child(3) {
  color: #3a7978;
  font-weight: bold;
}


.leaderboard_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* or any other value that you prefer */
}


.ViewProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.ViewProfile h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.ViewProfile p {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.button-container {
  display: flex;
  margin-bottom: 10px;
}

.secondary-button {
  display: inline-block;
  margin-right: 10px;
}

.tracking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
